{% extends "base.html" %}
{% load markup %}
{% load main_extras %}

{% block content %}
    <p>
        <img src="/media/images/w.png" width="33" height="23" valign="center"
        alt="W" />elcome to the home of the Ottawa Python Authors Group!
    </p>
    <p>
        This is a group devoted to learning, using and providing resources for
        the programming language Python (click on the Python image on the
        top-left of this page for the Python Homepage). OPAG also serves as a
        general gathering place for Python programmers from the <a
        href="http://www.ottawa.com">Ottawa region</a> and beyond.
    </p>
    <p>
        We maintain an active <a
        href="https://lists.sourceforge.net/lists/listinfo/opag-general">mailing
        list</a> and an <a href="irc://irc.oftc.net/#opag">IRC channel</a>
        (irc.oftc.net, #opag), for our discussions, and we meet once a month,
        typically at Carleton University, but we've been known to venture out
        into the real world from time to time as well.
    </p>
    <hr>
    <h2>Upcoming Meetings</h2>
    <table class="meetings_table">
    {% if meetings %}
        {% for meeting in meetings %}
        <tr>
            <td class="meetings_header">Date:</td>
            <td class="meetings_value">{{ meeting.date }}</td>
        </tr>
        <tr>
            <td class="meetings_header">Location:</td>
            <td class="meetings_value">
                {% if meeting.locationurl %}
                <a href="{{ meeting.locationurl }}">{{ meeting.location }}</a>
                {% else %}
                {{ meeting.location }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="meetings_header">Details:</td>
            <td class="meetings_value">
                {{ meeting.details }}
            </td>
        </tr>
        <tr>
            <td class="meetings_header">Meeting firm:</td>
            <td class="meetings_value">
                {% if meeting.firm %}
                Meeting confirmed, hope to see you there.
                {% else %}
                Still tentative, need to confirm details.
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if meeting.speakers_wanted %}
                Note: We are still looking for additional speakers for this
                meeting. Please <a href="/contactus/">contact us</a> if you
                would like to share something with us.
                {% endif %}
            </td>
        </tr>
        <tr class="meeting_break">
            <td colspan="2">&nbsp;</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>
                There are no meetings planned at the moment. Feel free to get
                on the mailing list and suggest one.
            </td>
        </tr>
    {% endif %}
    </table>
{% endblock %}
