{% extends "base.html" %}
{% load markup %}
{% load main_extras %}

{% block content %}
    <p>
        <img src="/media/images/w.png" width="33" height="23" valign="center"
        alt="W" />elcome to the home of the Ottawa Python Authors Group!
    </p>
    <p>
        This is a group devoted to learning, using and providing resources for
        the programming language Python (click on the Python image on the
        top-left of this page for the Python Homepage). OPAG also serves as a
        general gathering place for Python programmers from the <a
        href="http://www.ottawa.com">Ottawa region</a> and beyond.
    </p>
    <p>
        We maintain an active <a
        href="https://lists.sourceforge.net/lists/listinfo/opag-general">mailing
        list</a> and an <a href="irc://irc.oftc.net/#opag">IRC channel</a>
        (irc.oftc.net, #opag), for our discussions, and we meet once a month,
        typically at Carleton University, but we've been known to venture out
        into the real world from time to time as well.
    </p>
    <hr>
    <h2>Upcoming Meetings</h2>
    <table class="meetings_table">
    {% for meeting in meetings %}
        <tr class="meeting_row">
            <td style="text-align: right">Date</td>
            <td style="text-align: left">{{ meeting.date }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
