{% extends "base.html" %}
{% load markup %}

<!-- FIXME - need to factor this template out, as it's shared with the
meetings page. -->

{% block content %}

<p><img src="/media/images/s.png" width="31" height="29" valign="center" alt="S" />hown here are future meetings of OPAG. For past meetings, please refer to
the <a href="/past_meetings/">past meetings</a> page.</p>

<p>The Ottawa Python Author's Group meetings are on the second Tuesday of
every month from 19:00 - 21:00. The location is currently 3444 ME at Carleton
U.</p>

<p>Here is a <a href="http://www.carleton.ca/cu/campus/">map of Carleton University</a>. 3444 ME is on level 3 (one above ground) in block 4 of Mackenzie
Engineering - Building 10 on the map. Its the block closest to Architecture
(Building 22). On the map, its the block just to the left of the number '10'
on the map. Very close to the O-train station, if you come that way. Bus stops
almost immediately out front. Parking Lot 2 is the closest, but parking is
always a problem in the centre of campus at prime time. Here is a link to a 
<a href="http://tinyurl.com/2dnrgl/">Google map of Carleton U.</a>, in case
you need driving directions.</p>

{% for meeting in meetings %}
<table class="meeting">
    <!-- FIXME: maybe some logic here on whether the meeting has
                already taken place, based on the date.
         FIXME: link to the next meeting?
         -->
    <tr>
        <td class="meetingheader">{{ meeting.human_month }} OPAG meeting</td>
    </tr>
    <tr>
        <td class="meetingdate">
            {{ meeting.human_datetime }}
        </td>
    </tr>
    <tr>
        <td class="meetinglocation">
            Location: {{ meeting.location }}
            {% if meeting.locationurl %}
            ( <a href="{{ meeting.locationurl }}">map</a> )
            {% endif %}
        </td>
    </tr>

    {% if meeting.details %}
    <tr><td class="meetingdetails">{{ meeting.details|markdown }}</td></tr>
    {% endif %}

    <tr><td>&nbsp;</td></tr>

    {% if meeting.meetingtalk_set.all %}
    <tr><td class="talkheader">Talks planned:</td></tr>
    {% endif %}

    {% for talk in meeting.meetingtalk_set.all %}
    <tr>
        <td>
            <table class="talk">
                <tr><td>Topic: {{ talk.topic }}</td></tr>
                <tr><td>Speaker: {{ talk.name }}</td></tr>
                <tr>
                    <td class="talkdetails">
                        {{ talk.details|markdown }}
                    </td>
                </tr>
                {% if talk.url %}
                <tr>
                    <td>
                        <a href="{{ talk.url }}">More information</a>
                    </td>
                </tr>
                {% endif %}
            </table>
        </td>
    </tr>
    {% endfor %}

    <!-- meeting notes -->
    {% if not meeting.firm %}
    <tr><td class="meetingnote">This meeting is still tentative.</td></tr>
    {% endif %}

    {% if meeting.speakers_wanted %}
    <tr><td class="meetingnote">Speakers are still needed for this meeting.</td></tr>
    {% endif %}
</table>
{% endfor %}
{% endblock %}
