{% extends "base.html" %}
{% load markup %}
{% load main_extras %}

<!-- FIXME - need to factor this template out, as it's shared with the
meetings page. -->

{% block content %}

<p><img src="/media/images/s.png" width="31" height="29" valign="center"
alt="S" />hown here are the previous OPAG meeting details. If speakers
provided links to any resources from their talks, then they are located
here.</p>

<!-- FIXME: We really need pagination here -->

<h2>Past Meetings</h2>
<table class="meetings_table">
{% if meetings %}
    {% for meeting in meetings %}
        {% render_meeting meeting "1" %}
    {% endfor %}
{% else %}
    <tr>
        <td>
            There are no past meetings saved.
        </td>
    </tr>
{% endif %}
<tr>
    <td style="text-align: left;">
        {% if page.has_previous %}
        <a href="{% url past-meetings-page page.previous_page_number %}">Newer meetings</a>
        {% else %}
        &nbsp;
        {% endif %}
    </td>
    <td style="text-align: right;">
        {% if page.has_next %}
        <a href="{% url past-meetings-page page.next_page_number %}">Older meetings</a>
        {% else %}
        &nbsp;
        {% endif %}
    </td>
</tr>
</table>
{% endblock %}
