{% extends "base.html" %}
{% load markup %}

<!-- FIXME - need to factor this template out, as it's shared with the
meetings page. -->

{% block content %}

<p><img src="/media/images/s.png" width="31" height="29" valign="center"
alt="S" />hown here are the previous OPAG meeting details. If speakers
provided links to any resources from their talks, then they are located
here.</p>

<!-- FIXME: We really need pagination here -->

<h2>Past Meetings</h2>
<table class="meetings_table">
{% if meetings %}
    {% for meeting in meetings %}
    <tr>
        <td class="meetings_header">Date:</td>
        <td class="meetings_value">{{ meeting.date }}</td>
    </tr>
    <tr>
        <td class="meetings_header">Location:</td>
        <td class="meetings_value">
            {% if meeting.locationurl %}
            <a href="{{ meeting.locationurl }}">{{ meeting.location }}</a>
            {% else %}
            {{ meeting.location }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="meetings_header">Details:</td>
        <td class="meetings_value">
            {{ meeting.details|markdown }}
        </td>
    </tr>
    <tr>
        <td class="meetings_header">Talks planned</td>
        <td class="meetings_value">
            {% if meeting.talks %}
            Lets describe the talks here
            {% else %}
            There are no talks planned for this meeting yet. Want to help?
            {% endif %}
        </td>
    </tr>
    <tr class="meeting_break">
        <td colspan="2">&nbsp;</td>
    </tr>
    {% endfor %}
{% else %}
    <tr>
        <td>
            There are no past meetings saved.
        </td>
    </tr>
{% endif %}
</table>
{% endblock %}
