body {
    font-family: arial, verdana, sans-serif;
    color: black;
    background: white;
    font-size: 0.9em;
}

h1 {
    font-size: 1.5em;
    color: navy
}

h2 {
    font-size: 1.4em;
    color: navy
}

h3 {
    font-size: 1.3em;
    color: navy
}

h4 {
    font-size: 1.2em;
    color: navy
}

h5 {
    font-size: 1.1em;
    color: navy
}

h6 {
    font-size: 1.0em;
    color: navy
}

.h6vspaced {
    font-size: 1.0em;
    font-weight: bold;
    color: navy;
    line-height: 30px
}

p {
    color: #333333;
}

a:link {
    color: navy
}
 
a:visited {
    color: navy
}

.small {
    font-size: 0.8em;
    color: #333333;
}

.meetings_table {
    padding: 10px 10px 10px 10px;
    border-collapse: collapse;
}

.meetings_table tr td {
    padding: 5px;
}

.meetings_header {
    text-align: right;
    vertical-align: top;
    background: #e8e8e8;
}

.meetings_value {
    text-align: left;
    vertical-align: top;
    background: #e8e8e8;
}

.meeting_break {
    background: white;
}
