{% load common %}

{% init_rootpath %}

<!DOCTYPE html>
<html>
    <head>
        <title>Ottawa Python Authors Group</title>
        <meta name="description" content="This is a group devoted to learning, using and providing resources for the programming language Python." />
        <meta name="keywords" content="Python, Programming, Scripting Language, Open Source Software, Free Software, Unix, Computer, Ottawa, Canada" />
        <link href="/opagmedia/styles/default.css" name="default" type="text/css" rel="stylesheet" />
        <link href="/opagmedia/bootstrap/css/bootstrap.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <!-- the menu -->
                <div class="span2">
                {% left_menu %}
                </div>

                <!-- main content -->
                <div class="span8">
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="{{rootpath}}"><img border="0"
                                src="/opagmedia/images/logo6.png" width="816"
                                height="65" alt="Ottawa Python Author's
                                Group"></a>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <!-- Put the page content here. -->
                        {% block content %}
                        Under construction.
                        {% endblock %}
                    </div>

                    <hr />
                    <div class="footer">
                        Copyright &copy; OPAG 2012
                    </div>
                </div>

                <!-- right menu -->
                <div class="span2">
                {% right_menu %}
                </div>
            </div>
        </div>

    </body>
</html>
