<td valign="top" width="150">
    <!-- Put the left side menu here. -->
    <table width="100%">
        <tr>
            <td align="center">
                <a 
                    href="http://www.python.org"><img 
                    src="/static/images/python-powered-w-140x56.png" 
                    width="140" 
                    height="56" 
                    border=0 
                    alt="python.org"></a>
            </td>
        </tr>
    </table>
    <br />

    {% for section in menu %}
    <div class="section-title">{{ section.title }}</div>
    <ul>
        {% for item in section.data %}
        <li>
            <a href="{{ item.link }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <br />
    {% endfor %}
</td>
