{% load common %}

<td valign="top" width="150">
    <table width="100%">
        <tr>
            <td align="center">
                <a
                    href="http://www.djangoproject.com/"><img
                        src="/static/images/djangojoint107x25_grey.gif"
                        border="0"
                        width="107"
                        height="25"
                        alt="A Django joint."
                        title="A Django joint." /></a>
            </td>
        </tr>
    </table>
    <br />


    <div class="section-title">Quick links</div>
    <table>
        {% for item in quicklinks %}
        <ul>
            <li>
                <a href="{{ item.link }}">{{ item.title }}</a>
            </li>
        </ul>
        {% endfor %}
    </table>
    <br />
    <a href="{{rootpath}}admin/">Admin</a>
    </p>
</td>
