{% load common %}

<td valign="top" width="150">
    <table width="100%">
        <tr>
            <td align="center">
                <a
                    href="http://www.djangoproject.com/"><img
                        src="/opagmedia/images/djangojoint107x25_grey.gif"
                        border="0"
                        width="107"
                        height="25"
                        alt="A Django joint."
                        title="A Django joint." /></a>
            </td>
        </tr>
    </table>
    <br />


    <img src="/opagmedia/images/quick_links.png" width="150" height="40" alt="Quick Links" />
    <br clear="all" />
    <table>
        {% for item in quicklinks %}
        <tr valign="center">
            <td>
                <span class="label label-info"><a href="{{ item.link }}">{{ item.title }}</a></span>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br />
    <span class="label label-important"><a href="{{rootpath}}admin/">Admin</a></span>
    </p>
</td>
