body {
    color: black;
    background: white;
    padding: 1%;
}

h1 {
    color: navy
}

h2 {
    color: navy
}

h3 {
    color: navy
}

h4 {
    color: navy
}

h5 {
    color: navy
}

h6 {
    color: navy
}

.h6vspaced {
    font-weight: bold;
    color: navy;
    line-height: 30px
}

a:link {
    color: navy
}
 
a:visited {
    color: navy
}

.small {
    font-size: 0.8em;
    color: #333333;
}

.meetings_table {
    padding: 10px 10px 10px 10px;
    border-collapse: collapse;
}

.meetings_table tr td {
    padding: 5px;
}

.meetings_header {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    background: lightgrey;
}

.meetings_value {
    text-align: left;
    vertical-align: top;
    background: lightgrey;
}

.meeting_break {
    background: white;
}

.notice_table {
    width: 70%;
    border-width: 5px;
    border-style: groove solid;
    border-color: navy;
    font-weight: bold;
    text-align: center;
    margin: 10px 5px 10px 5px;
    padding: 5px;
}

table.notice_table tr td {
    color: red;
}

.container-fluid {
    padding: 1%;
}

.meeting {
    background: whitesmoke;
    border: 1px solid black;
    padding: 5px;
    border-radius: 15px;
    /* From
     * http://robertnyman.com/2010/03/16/drop-shadow-with-css-for-all-web-browsers/
     */
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
