{% extends "base.html" %}

{% block content %}
<p>
    This website was authored using nothing but free <a
    href="http://www.gnu.org/">GNU</a> and <a
    href="http://www.linux.org/">Linux</a> tools. While GNU and Linux are not
    directly related to Python, the language was born of the same
    principles--it is <a href="http://www.opensource.org/">open-source</a>,
    and freely available, costing nothing for the public to download and use.
    In fact, it shows no discrimination towards platforms, as it is freely
    available for Unix, Windows, MacOS, even PalmOS.  This is the kind of
    quality and flexibility created by open-source.
</p>

<p>
    All HTML code for the site was edited using the <a
    href="http://www.vim.org/">Vim</a> editor on Linux. The images were
    created with the <a href="http://www.gimp.org/">Gimp</a>, with tweaks and
    conversions by <a href="http://www.imagemagick.org/">ImageMagick</a>.  We
    hope that the site stands as an example that the best tools are not
    necessarily the most expensive ones.
</p>

<p>
    The website itself is hosted on a <a href="http://www.linux.org/">Linux</a>
    virtual server, provided by
    <a href="http://digitaltorque.ca">Digitaltorque Consulting Inc.</a>,
    via <a href="http://www.webfaction.com">Webfaction</a>.
    The web server is
    <a href="http://httpd.apache.org/">Apache</a>, and the site is run by
    <a href="http://www.djangoproject.com/">Django</a>, which is
    <a href="http://www.python.org/">Python</a> Powered.
</p>

<p>
    The site is version controlled with <a href="http://git.or.cz/">Git</a>,
    and published using <a href="http://github.com">Github</a>. Feel free to
    <a href="git://github.com/python-ottawa/opag.git">clone it</a> and send me
    patches.
</p>

<p>If you have any problems, please <a
href="mailto:msoulier@digitaltorque.ca">inform me</a>.

<p>Welcome.</p>
{% endblock %}
