{% extends "base.html" %}

{% block content %}
<p>We would be happy to hear from you.
<ul>
    <li><a href="https://lists.sourceforge.net/lists/listinfo/opag-general">Mailing list</a></li>
    <li><a href="mailto:webmaster-#-digitaltorque-%-ca">Webmaster</a></li>
</ul>
</p>
<p>Do not hesitate to report issues with the website, and feel free to speak
up on the mailing list. Please though, use discretion. No advertising. We're
not interested. If you are unsure if whether to post something to the mailing
list, then ask the list owner.</p>
<p>Thank you.</p>
{% endblock %}
