{% extends "base.html" %}
{% load markup %}
{% load main_extras %}

{% block content %}
    <p>
        <img src="/media/images/w.png" width="33" height="23" valign="center"
        alt="W" />elcome to the home of the Ottawa Python Authors Group!
    </p>
    <p>
        This is a group devoted to learning, using and providing resources for
        the programming language Python (click on the Python image on the
        top-left of this page for the Python Homepage). OPAG also serves as a
        general gathering place for Python programmers from the <a
        href="http://www.ottawa.com">Ottawa region</a> and beyond.
    </p>
    <p>
        We maintain an active <a
        href="https://lists.sourceforge.net/lists/listinfo/opag-general">mailing
        list</a> and an <a href="irc://irc.oftc.net/#opag">IRC channel</a>
        (irc.oftc.net, #opag), for our discussions, and we meet once a month,
        typically at Carleton University, but we've been known to venture out
        into the real world from time to time as well.
    </p>
    {% if notices %}
        {% for notice in notices %}
            {% if notice.visible %}
            <table class="notice_table">
                <tr>
                    <td>Notice: {{ notice.title }}</td>
                </tr>
                <tr>
                    <td>{{ notice.content|markdown }}</td>
                </tr>
            </table>
            {% endif %}
        {% endfor %}
    {% endif %}
    <hr />
    <h2>Upcoming Meetings</h2>
    <table class="meetings_table">
    {% if meetings %}
        {% for meeting in meetings %}
            {% render_meeting meeting %}
        {% endfor %}
    {% else %}
        <tr>
            <td>
                There are no meetings planned at the moment. Feel free to get
                on the mailing list and suggest one.
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="2" style="text-align: right;">
            <h5><a href="{% url past-meetings %}">Past meetings</a></h5>
        </td>
    </tr>
    </table>
{% endblock %}
