{% extends "base.html" %}
{% load markup %}
{% load main_extras %}

{% block content %}
    <div class="row">
        <div class="container">
            <p>
                Welcome to the home of the Ottawa Python Authors Group!
            </p>
        </div>
    </div>
    {% if notices %}
        {% for notice in notices %}
            {% if notice.visible %}
            <table class="notice_table">
                <tr>
                    <td>Notice: {{ notice.title }}</td>
                </tr>
                <tr>
                    <td>{{ notice.content|markdown }}</td>
                </tr>
            </table>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="row">
        <h2>Upcoming Meetings</h2>
    </div>
    {% if meetings %}
        {% for meeting in meetings %}
            {% render_meeting meeting %}
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="alert alert-info">
        <h4 class="alert-heading">
        TBA
        </h4>
            We normally meet on the fourth Thursday of every month.
        </div>
    </div>
    {% endif %}
    <div class="row">
            <h5><a href="{% url past-meetings %}">Past meetings</a></h5>
    </div>
    <a class="twitter-timeline"  href="https://twitter.com/ottawapython"  data-widget-id="343926906275639296">Tweets by @ottawapython</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
