{% extends "base.html" %}
{% load markup %}
{% load main_extras %}

{% block content %}
    <div class="row-fluid">
    <p>
        <img src="/opagmedia/images/w.png" width="33" height="23" valign="center"
        alt="W" />elcome to the home of the Ottawa Python Authors Group!
    </p>
    </div>
    {% if notices %}
        {% for notice in notices %}
            {% if notice.visible %}
            <table class="notice_table">
                <tr>
                    <td>Notice: {{ notice.title }}</td>
                </tr>
                <tr>
                    <td>{{ notice.content|markdown }}</td>
                </tr>
            </table>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="row-fluid">
        <h2>Upcoming Meetings</h2>
    </div>
    {% if meetings %}
        {% for meeting in meetings %}
            {% render_meeting meeting %}
        {% endfor %}
    {% else %}
    <div class="row-fluid">
        <div class="alert alert-info">
        <h4 class="alert-heading">
        Awkward!
        </h4>
            There are no meetings planned at the moment. Feel free to
            get on the mailing list and suggest one.
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="span12">
            <h5><a href="{% url past-meetings %}">Past meetings</a></h5>
        </div>
    </div>
    <a class="twitter-timeline"  href="https://twitter.com/PythonOttawa"
    data-widget-id="328644952923967490">Tweets by @PythonOttawa</a>
    <script>!function(d,s,id){var
    js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
