{% extends "base.html" %}

{% block content %}
<p><img src="/opagmedia/images/m.png" width="26" height="22" valign="center"
alt="M" />embership in OPAG is not a formal affair. You need merely join the
<a href="/mailman/">OPAG mailing list</a>. You don't even have to post,
although we would enjoy any contribution that follows our code of conduct,
below.</p>

<p>From time to time, we do need to renew the domain, or pay for some other
small resource, and we ask for donations. Of course, donations are welcome at
any time, and will be used solely for the group's concerns.</p>

<h2>Code of Conduct</h2>

<p>The following describes OPAG's code of conduct towards each other. Without
turning this into unreadable lawyer-speak, the bottom line is that we expect
everyone to be civil, and treat each other as you would have others treat
you.</p>

<h3>The Rules</h3>

<p>Please note, that the members of the OPAG mailinglist value politeness very
highly. This means, behave in a way you would like others to behave towards
you.</p>

<p><ul>
    <li>No shouting</li>
    <li>No rude language</li>
    <li>No demands. Everybody is on the list of their own free will. If you do
    not get an answer to your question, it's likely either that you did not
    give sufficient details about the nature of your problem, or that the
    answer to your problem is in the documentation. Or, no one on the list
    knows the answer.</li>
    <li>Search the archives before posting. This is simple enough to do via
    google by adding "site:opag.ca" after your search criteria.</li>
    <li>No "out of the office" auto-replies to the list nor to the posters.
    When you leave the office and want to let your co-workers know, that's
    fine, but please understand that most list members don't really care that
    you're not in. If you can't switch this on selectively, please use the
    mailman interface to disable delivery for your account while you're
    away.</li>
    <li>If you do not follow the rules you will be unsubscribed from the list
    with no further questions asked.</li>
</ul></p>

<p>If you feel that you have been treated unfairly, you may email the list
owner and appeal the decision, but as we won't remove anyone without strong
cause, you probably said or did something that will make the appeal
futile.</p>

<p>And now -- enjoy!</p>
{% endblock %}
