{% extends "base.html" %}
{% load markup %}
{% load main_extras %}

<!-- FIXME - need to factor this template out, as it's shared with the
meetings page. -->

{% block content %}

<div class="row-fluid">
    <p>
        Shown here are the previous OPAG meeting details. If speakers provided
        links to any resources from their talks, then they are located here.
    </p>
</div>

<div class="row-fluid">
    <h2>Past Meetings</h2>
</div>
{% if meetings %}
    {% for meeting in meetings %}
        {% render_meeting meeting "1" %}
    {% endfor %}
{% else %}
    <div class="alert alert-warning">
    There are no past meetings saved.
    </div>
{% endif %}
<div class="row-fluid">
    <div class="span6">
        {% if page.has_previous %}
        <a href="{% url past-meetings-page page.previous_page_number %}">Newer meetings</a>
        {% else %}
        &nbsp;
        {% endif %}
    </div>
    <div class="span6">
        {% if page.has_next %}
        <a href="{% url past-meetings-page page.next_page_number %}">Older meetings</a>
        {% else %}
        &nbsp;
        {% endif %}
    </div>
</div>
{% endblock %}
